<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        {% include 'partials/navbar.html' %}

        <div class="container w-full px-[10%] py-[3%] font-serif">
            <h1 class="text-2xl font-bold">{{ projectName }}</h1>
            <h4 class="font-semibold mt-2">Veillez sélectionner les fichier que vous voulez télécharger, ensuite clicquez sur le bouton "Valider"</h4>

            <div class="files-div w-full mt-[2%]">
                <form id="file-list-form" name="file-list-form" method="POST" action="{{ url_for('process_files') }}">
                    <table class="w-full border-collapse table-auto">
                        <thead>
                            <tr class="text-left bg-[#6b8680]">
                                <th class="text-center"><input id="all-file" onclick="clickAllCheckBox('all-file')" name="all-file" value="all" type="checkbox" class="form-checkbox rounded-md h-5 w-5 cursor-pointer"></th>
                                <th class="px-4 py-2">Nom</th>
                                <th class="px-4 py-2">Date</th>
                                <th class="px-4 py-2">Type</th>
                                <th class="px-4 py-2">Taille</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for file in fileList %}
                            <tr class="even:bg-gray-300 hover:bg-[#a4826d]">
                                <th class="border">
                                    <input onclick="onclickOneCheckBox('all-file')" id="{{ loop.index }}-{{ file.name }}" name="file-list" type="checkbox" value="{{ file.name }}" class="file-list form-checkbox rounded-md h-5 w-5 cursor-pointer">
                                </th>
                                <td onclick="document.getElementById('{{ loop.index }}-{{ file.name }}').click()" class="border px-4 py-2">{{ file.name }}</td>
                                <td onclick="document.getElementById('{{ loop.index }}-{{ file.name }}').click()" class="border px-4 py-2">{{ file.date }}</td>
                                <td onclick="document.getElementById('{{ loop.index }}-{{ file.name }}').click()" class="border px-4 py-2">{{ file.type }}</td>
                                <td onclick="document.getElementById('{{ loop.index }}-{{ file.name }}').click()" class="border px-4 py-2">{{ file.size }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </form>
                <h4 id="text-download" class="font-semibold mt-4">Vos fichiers sont prêts pour le téléchargement, veuillez cliquez sur les fichiers pour les télécharger. Une fois terminée, clicquez sur le bouton "Terminer"</h4>
                <div id="file-to-download" class="grid grid-cols-6 w-full mt-6"></div>
                <div className='flex'>
                    <button id="validate" onclick="validerFichier()"  class='bg-color-primary-1 bg-color-primary-2-hover color-primary-2 color-secondary-hover border-color-secondary-hover border-2 border-color-primary-1 px-5 py2 rounded-3xl h-10 font-semibold w-40 text-xl mt-4'>
                        <span>Valider</span>
                    </button>
                    <button onclick="terminer()" id="done" class='mr-4 bg-color-primary-2 bg-color-secondary-hover color-primary-1 color-primary-2-hover border-2 border-color-primary-1 px-5 py2 rounded-3xl h-10 font-semibold w-40 text-xl mt-4'>
                        <span>Terminer</span>
                    </button>
                </div>
            </div>
              
        </div>

        {% include 'partials/footer.html' %}
        
        <script type="text/javascript"  src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" async defer></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>